body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 75px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*CUSTOM CSS - OVERRIDE BOOTSTRAP.CSS*/
body {
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-size: 20px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #FFFEF7;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-weight: 500;
  line-height: 1.1;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  font-size: larger;
  font-weight: bold;
}

.navbar-inverse {
  background-color: lightgoldenrodyellow;
  border-color: #D4B56A;
}

.jumbotron {
    background-color: #FCF2C6;
}

.button-primary {
}

.DragonLogo {
    max-height: 100px;
}
