@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Dragon Printing was founded in 1986 by Rashid Pourshasb as a commercial printer, labels came later on 
    when a gap in the market was realised. Dragon Printing is an Australian owned and operated company with 
    all manufacturing coming from Sydney NSW.
</p>
<p>
    Dragon started off with a mix of different label printing presses, it was soon realised that a lift in quality and production capabilities was required.  A Gallus R160 was purchased in 1999 followed by another year later by a second one. Dragon continued replacing older equipment with Gallus presses for the next several years.
</p>
<p>
    2008 saw Paul McCullum and Fareydun Pourshasb join the company, Paul had a long standing in the label industry having worked and managed within the printing industry since 1983.  Fareydun being new to the industry is a chartered accountant by trade, but soon integrated himself into label printing.
</p>

<p>
    2009 saw the sad loss of founder and director Rashid Pourshasb to cancer. Paul and Fareydun (son of Rashid) took over the reins of Dragon Printing and continued with acquisitions on new machinery.  Dragon Printing has had steady and continuous growth since which saw the necessity to acquire larger machinery to keep up with demand and continuous quality improvements.
</p>
<p>
    After a 9 months of research 2012 saw the purchase of a large format label press also from Gallus, in November 2012 a new Gallus ECS 340 was commissioned by Gallus with outstanding results.  After a short period of time it was realised that to keep pace with our new investments that we would need to bring digital flexo plate manufacture in-house.
</p>
<p>
    2013 saw the purchase of a Screen CTP (digital plate and film making) machine.  The new pre-press equipment also necessitated the need for a new pre-press room and equipment.  To bring our pre-press in line with our production.
</p>