@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-8">
            <h2>
                Dragon Printing Pty Ltd
            </h2>
            <p class="lead">Dragon Printing is Australia's leading provider of label printing services. Great quality at competetive rates!</p>
            <p><a href="/Home/Contact" class="btn btn-primary btn-lg">Enquire today! &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <img class="img-thumbnail" src=@Url.Content("~/Content/Images/Dragon_PMcCullum_PLate.jpg") />
        </div>
    </div>  
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our Mission</h2>
        <p>
             We pride ourselves on going the extra mile to meet our customer's needs, providing
             quality services to some of the world’s largest companies.
        </p>
        <p><a class="btn btn-default" href="/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Services</h2>
        <p>
            We operate a fleet of Gallus label printing presses, and also have in-house art, 
            film, screen and plate manufacturing on the latest Screen CTP equipment.
        </p>
        <p><a class="btn btn-default" href="/Home/Products">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Business</h2>
        <p>
            Our business is a friendly and professional environment, with expert staff assisting 
            customers to select the best materials for the right application.
        </p>
        <p><a class="btn btn-default" href="/Home/Gallery">Learn more &raquo;</a></p>
    </div>
</div>