
@{
    ViewBag.Title = "Products";
}
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-8">
                <h2>
                    Products
                </h2>
                <p>
                    We print high-quality full-colour labels and provide cost-effective solutions so you can print your own labels on demand.
                    As a label manufacturer we can create almost any shape or size to suit your creative requirements. Whether you need to print
                    more labels, revamp your label design or create a new label we can help.
                </p>
            </div>
            <div class="col-md-4">
                <img class="img-thumbnail" src=@Url.Content("~/Content/Images/GallusECS340HalfWidthGraphic.jpg") />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img class="img-thumbnail" src=@Url.Content("~/Content/Images/DangerousGoodsGraphic.jpg") />
                <h3>Dangerous Goods Labels</h3>
                <p>
                    Suppliers of dangerous goods are required by law to label their products with hazard symbols, warnings and safety advice.
                    <br />
                    <a href="">Dangerous goods price list (GetListIfIsAThing)</a>
                </p>
        </div>
        <div class="col-md-4">
            <img class="img-thumbnail" src=@Url.Content("~/Content/Images/LabelDesignGraphic.jpg") />
            <h3>Label Design</h3>
            <p>
                Dragon Printing has over 18 years of experience in working with labels and print, we have a dedicated design team who work
                together with the experienced sales, technical and print team to produce a design which will cater for your needs.
            </p>
        </div>
        <div class="col-md-4">
            <img class="img-thumbnail" src=@Url.Content("~/Content/Images/DigitalPrintingGraphic.jpg") />
            <h3>Digital Printing</h3>
            <p>
                Short run, full colour digital printing available, to suit any size and shape. This technique is ideal for personalised product labelling.
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-thumbnail" src=@Url.Content("~/Content/Images/ThermalTransferRibbonsGraphic.jpg") />
            <h3>Thermal Transfer Ribbons</h3>
            <p>
                Your Thermal Transfer printer ribbon is critical in extending the life of your printers’ print head and by choosing the
                correct thermal ribbon it ensures that your barcode labels look great and stay looking great.
            </p>
        </div>
        <div class="col-md-4">
            <img class="img-thumbnail" src=@Url.Content("~/Content/Images/CustomPrintingGraphic.jpg") />
            <h3>Custom Printing</h3>
            <p>
                Get your products flying off the shelves with vivid vibrant colour labels allowing you to respond rapidly to changing consumer needs.
            </p>
        </div>
        <div class="col-md-4">
            <div class="img-thumbnail">
                <img src=@Url.Content("~/Content/Images/ThermalPrinter1Graphic.bmp") />
                <img src=@Url.Content("~/Content/Images/ThermalPrinter2Graphic.bmp") />
            </div>
            
            <h3>Thermal Printing</h3>
            <p>
                Whether you require a printer to produce carton abels, delivery labels, pallet labels, parts labels, SSCC labels, asset
                labels, price tickets, isolation tags, danger tags, sequentially numbered Ticket tags or labels we will show you how
                easy it is to implement your inhouse print system.
            </p>
        </div>
    </div>
</div>